---
// src/components/Preloader.astro
---
<div id="preloader" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 z-50 items-center justify-center" style="display: none;">
    <div class="flex flex-col items-center bg-white p-8 rounded-lg shadow-xl">
      <!-- Spinner animado con Tailwind CSS -->
         <div class="w-16 h-16 border-4 border-t-4 border-gray-200 border-t-blue-600 rounded-full animate-spin"></div>
      <p id="preloader-text" class="mt-4 text-lg font-medium text-gray-700">Procesando...</p>
    </div>
  </div>
  